h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. 250201022 – 02 ]
        p Validar el storyboard de acuerdo con el guion.
        .hr-divider.mb-4
        h5 #[strong Cod. 250201022 – 04 ]
        p.mb-0 Exponer el storyboard de acuerdo a las necesidades del proyecto y del contexto.
           




