.container#tema_4

    .header-ecored
        h1 4. Montaje   

    .jumbotron.bg-white           
      .row.align-items-center        
        .col-12.col-lg-auto.d-flex.justify-content-center.mb-5.mb-lg-0
          img(src="assets/images/pages/tema_4/icon_4_01.svg", alt="", style="width:325px")
        .col
         p El montaje o también conocido como edición, es el proceso mediante el cual se determina la duración y cortes de cada uno de los planos, de la misma manera se realiza la sincronización de sonidos para otorgar mayor sentido al audiovisual.
         p En el siguiente video se expone el proceso básico para el montaje de los cuadros elaborados en el proceso de storyboard con la finalidad de elaborar una animatic.
         p.mb-0 Para esto se utilizará el programa Blender el cual es un #[i software] libre que se puede obtener gratuitamente en la página #[a(href="http://www.blender.org", target="_blank") www.blender.org.]

    .jumbotron.bg-white           
      .row.mb-3        
        .col
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/f5k6B6K8aA8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                 

    .jumbotron.bg-white           
      .row.mb-3        
        .col
          .card
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/Dsb2amh5DxM', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                           
            .card-body.mt-0           
              p Aunque su uso principalmente está enfocado en el 3D, posee un apartado dedicado a la edición de video básica, ideal para introducirse en el mundo del montaje.


               

      