.container#tema_3

    .header-ecored
        h1 3. Storyboard

    .jumbotron.bg-white  
      .row.mt-5
        .col-12.mb-5
          img(src="assets/images/pages/tema_3/img_3_01.svg", alt="", style="width:100%")
        .col-12
          p El storyboard es un guion gráfico o premontaje del producto audiovisual que se quiere realizar. Está construido por una serie de planos dibujados o viñetas a manera de cómic, basados en el guion narrativo, donde se especifica principalmente el número de plano, secuencia, duración, diálogos, descripción de las acciones, y demás anotaciones necesarias para que todo el equipo de producción tenga claro qué es lo que se quiere en cada plano. (CÁMARA, 2006)
          p.mb-0 Es importante mencionar que para la realización de cada cuadro de storyboard, es muy importante tener claros los conceptos del lenguaje audiovisual, con el fin de transmitir de la mejor manera lo que está planteado en el guion literario. Para esto, muchos realizan con antelación un guion técnico.
